.w-240{
  margin: 25px;
  width: 240px;
  max-height: 75vh;
  overflow: auto;
  border-right: none;
  position: sticky;
  top: 105px;
  background: #f2f2f2;
  transition: .3s ease-in-out;
  &.active{
    left: 0px;
  }
}

.content{
  width: calc(100% - 240px);
  padding: 25px 50px;
  padding-left: 25px;
  box-sizing: border-box;
}

.fa-bars{
  display: none;
  font-size: 30px;
  padding: 25px 0px;
  padding-right: 15px;
}

@media only screen and (max-width: 1024px){
  .content{
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 840px){
  .content{
    padding: 25px 0px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 760px){
  .min-h{
    flex-wrap: wrap;
  }
  .content{
    width: 100%;
  }

  .content{
    padding: 25px 20px;
  }

  .w-240{
    height: 100vh;
    max-height: 100vh;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: -100vh;
    z-index: 100;
  }

  .fa-bars{
    display: block;
  }

  .layout{
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 0.3s ease-in-out;
    z-index: 100;
    &.active{
      width: 100vw;
      height: 100vh;
      background: rgba(black, 0.8);
    }
  }
}
