:host{
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 100;
}

.panel-body{
  padding: 16px;
  width: 350px;
  background: #f2f2f2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 5px rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  input, textarea, .mat-form-field:not(.col-50){
    width: 100%;
  }
  h4{
    font-size: 25px;
  }
  *{
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 667px){
  :host{
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    z-index: 90;
    .panel-body{
      width: 100%;
    }
  }
}
