<section class="home-sc">
  <div class="t-center h-1">
    <h1>Maa Info</h1>
    <h2>For aviation lovers</h2>
    <div class="example-button-row">
      <!-- <button mat-raised-button [routerLink]="['/paragraph']">
        {{'start-btn' | translate}}
      </button> -->
    </div>
  </div>
  <div class="container h-3 flex wrap a-center">
    <div class="col-50 p-10">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="col-50 p-10">
      <h2>Sprint from Zero to App</h2>
      <p>
        Hit the ground running with comprehensive, modern UI components that
        work across the web, mobile and desktop.
      </p>
    </div>
  </div>
  <div class="container h-3 flex wrap a-center">
    <div class="col-50 p-10">
      <h2>Sprint from Zero to App</h2>
      <p>
        Hit the ground running with comprehensive, modern UI components that
        work across the web, mobile and desktop.
      </p>
    </div>
    <div class="col-50 p-10">
      <img
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </div>
  </div>
  <div class="container h-2 flex wrap">
    <h1 class="col-100 t-center">{{'posts' | translate}}</h1>
    <div class="col-33 p-10">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <div class="link" [routerLink]="['/paragraph/3']">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-33 p-10">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <div class="link" [routerLink]="['/paragraph/3']">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-33 p-10">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <div class="link" [routerLink]="['/paragraph/3']">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</section>

