.home-sc{
  // margin-top: 56px;
  // height: calc(100vh - 56px);
  // overflow: auto;
  color: rgba(0,0,0,.54);
  h1{
    font-size: 36px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
    text-transform: capitalize;
  }
  h2{
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px;
    padding: 0;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px;
    padding: 0;
  }
  .h-1{
    background: #3f51b5;
    color: white;
    padding: 60px 0px;
    *{
      text-transform: capitalize;
    }
    h1{
      font-size: 56px;
    }
    h2{
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin: 15px 0 25px;
      margin-bottom: 60px;
    }
  }
  .h-2, .h-3{
    padding: 60px 0px;
  }
}

@media only screen and (max-width: 840px){
  .home-sc{
    .col-33{
      width: 50%;
    }
  }
}

@media only screen and (max-width: 570px){
  .home-sc{
    .col-50, .col-33{
      width: 100%;
    }
  }
}
