 *{
  background: #f2f2f2;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

// .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
//   background: #f2f2f2;
// }

.mat-expansion-panel-spacing{
  margin: 0px;
}

.mat-expansion-panel:not(:last-child){
  border-bottom: 1px solid #b3b3b3;
}

.mat-list-item{
  font-size: 13px;
  line-height: 16px;
  margin: 0!important;
}

.mat-list-base .mat-list-item{
  height: auto;
}

.mat-list-base{
  padding-top: 0px;
}

.mat-expansion-panel-header-title {
  font-weight: 700;
  line-height: 16px;
  font-size: 13px;
  color: rgba(0,0,0,.5);
  text-transform: capitalize;
}

a{
  text-transform: capitalize;
  padding: 5px 15px 5px 20px!important;
  padding-left: 0px!important;
  width: 100%;
  // transition: .3s ease-in-out;
  color: rgba(0,0,0,.54);
  text-decoration: none;
  &:hover{
    color: #3f51b5;
  }
  &.active{
    color: #3f51b5;
  }
}
