<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="height: 48px!important;">
      <mat-panel-title>
        Form Controls
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/1']" routerLinkActive="active" >link1</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/2']" routerLinkActive="active" >link2</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/3']" routerLinkActive="active" >link3</a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="height: 48px!important;">
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/4']" routerLinkActive="active" >link1</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/5']" routerLinkActive="active" >link2</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a [routerLink]="['/paragraph/6']" routerLinkActive="active" >link3</a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
